@charset "UTF-8";
/* CSS Document
Vrakatar project.

Présentation le 28.05.2014 */

body {
	border: 1px solid black;
   	width: 800px;
   	height: 761px;
}
 
header {
	border: 1px solid black;	
	width : 800px;
    height :140px;
}
 
nav {
	border: 1px solid black;
}

div.vakatar_photo {
	padding-top: 40px;
	text-align: center;
             }

#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 24px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1;
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid #9EA0A1;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : #666;
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #FF9;
}
 
#rightbar {
	border: 1px solid black;
	float:right;
	width: 385px;
	height : 618px;
}
h1 {
	text-align: center;
}

footer {
	border: 1px solid black;
	margin-top: 136px;
	width : 800px;
    height :140px;
}