#doc {
    width: 100%;
    height: 450px;
    border: 1px solid #000;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.obstacle {
    position: absolute;
}
.ground1 {
    bottom: 20px;
    left: 20px;
    width: 500px;
    height: 10px;
    background-color: #F00;
}
.ground2 {
    top: 60px;
    right: 40px;
    width: 100px;
    height: 10px;
    background-color: #F00;
}

#character .actions{
    width: 100px;
    font-size: 10px;
    position: relative;
    top: -10px;
    right: -30px;
    border: 1px solid #ccc;
    display: none;
}

#character ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
#character li{
    background-color: #ccc;
    padding: 5px;
}
#character li:nth-child(odd) {
    background-color: #bbb;
}
#character li:hover{
    background-color: #eee;
}
